

<div class="wrapper">

    <div class="content">
        <div class="container">
            <ng-container>
                <form action="" class="example-form">
                    <h2>Register</h2>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input name="email" ngModel matInput>
                        <mat-error>
                          Please enter a valid email address
                        </mat-error>
                        <mat-error>
                          Email is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input name="pword" ngModel matInput>
                        <mat-error>
                          Password is <strong>required</strong>
                        </mat-error>
                       
                      </mat-form-field>
                      
                          <mat-label>Paypal </mat-label>

                          <mat-slide-toggle></mat-slide-toggle>
                      
                </form>
            </ng-container>
        </div>
    </div>
</div>
